[Unit]
Description=PDF Parser (%s|%s)
Documentation=https://github.com/Setup007/HowToBeAHero-WikiToPdf

[Service]
ExecStart=%s/index.js
StandardOutput=%s/stdout.log
StandardError=%s/stderr.log
Restart=on-failure

[Install]
WantedBy=default.target
Alias=syslog.service